* {
	margin: 0;
	padding: 0;
}
body{
	background-color:black;
	color: #7F7F7F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
img{
	border: 0 none;
}
.container{
	
	margin: 30px auto 0;
	position: relative;
	text-align: left;
	width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
}


#header{
	background-color: black;
	border-bottom: 2px solid #e0e0e0;
	position: relative;
	z-index: 10;
}
.top_h{
	overflow: hidden;
	position: relative;
}
.logo{
	float: left;
	passing: 37px 0 0 39px;
}

nav{
	background-color: #0A6778;
	overflow: hidden;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	color: white;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding: 4px 10px 4px 11px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li a:hover, nav ul li.selected a{
	background: none repeat scroll 0 0 #353535;
}

#main{
	background-color: black;
	padding-bottom: 15px;
}
	
#content{
	overflow: hidden;
}
#content #left, #content #right{
	background-color: white;
	border: 5px solid #0A6778;
	float: left;
	margin: 0;
	width: 63%;
}
#content #right{
	margin-left: 2px;
	width: 30%;
}
#content h2{
    background: -moz-linear-gradient(#0A6778, #ffffff); 
    background: -ms-linear-gradient(#0A6778, #ffffff); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0A6778), color-stop(100%, #ffffff)); 
    background: -webkit-linear-gradient(#0A6778, #ffffff); 
    background: -o-linear-gradient(#0A6778, #ffffff); 
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6')"; */
    background: linear-gradient(#0A6778, #ffffff); 
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}
#content ul{
	list-style: none;
	margin:0;
	padding:0;
}
#content #left ul li{
	float: left;
	padding-bottom: 21px;
	width: 33%;
}
#content #right ul li{
	border-top: 1px solid #E7E7E7;
	overflow: hidden;
}
#content #left ul li .product_img{
	text-align: center;
}
#content #right ul li .product_img{
	background-color: white;
	float: left;
	height: 94px;
	text-align: center;
	width: 113px;
}
#content #left ul li .product_img img{
	height: 128px;
	width: 128px;
}
#content #right ul li .product_img img{
	height: 70px;
	margin-top: 12px;
	width: 70px;
}
#content #left ul li .product_info{
	padding: 17px 20px 0 20px;
}
#content #right ul li .product_info{
	float: left;
	overflow: hidden;
	padding: 17px 0 0 20px;
	width: 164px;
}
#content ul li .product_info .title{
	color: #0A6778;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 150px;
}
#content #left ul li .product_info p{
	color: black;
	font-size: 10px;
	line-height: 16px;
	padding-top:3px;
}
#content ul li .product_info .price{
	color: ##0A6778;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding-top: 25px;
}
#content #left ul li .product_info .price{
	background: none repeat scroll 0 0 #F7F7F7;
	margin: 17px 0 10px;
	padding: 6px 0 6px 8px;
}
#content ul li .product_info .price .st{
	color: #0A6778;
	font-size: 11px;
	line-height: 15px;
	margin-right: 5px;
}
#content #left ul li .product_info .action {
	overflow: hidden;
}
#content #left ul li .product_info .action a{
	color: #0A6778;
	display: block;
	float: right;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	cursor: pointer;
}
#content #right ul li .product_info .action{
	overflow: hidden;
}

#content #right ul li .product_info .action a{
	color: #0A6778;
	display: block;
	float: right;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	cursor: pointer;
}

footer{
	background: none repeat scroll 0 0 #0A6778;
	border-top: 10px solid black;
	margin: 0 0 5px;
	padding: 2px 0 5px 2px;
}
footer #contact{
	color: black;
	font-size: 12px;
	line-height:15px;
	overflow: hidden;
	width: 100%;
}
footer a{
	color: black;
	text-decoration: underline;
}
footer p{
	display: inline-block;
	padding-right: 30px;
}
	
.cart{
	color: white;
	
}

}

#Content{
	border: 2px solid black;
    margin-left: 5%;
	display: block;
}
.cartTH{
	text-align: center;
	height: auto;
	display: inline-block;
	color: white;
}
#inCart{
	overflow: scroll;
	overflow-x: hidden;
}


	
	
	
	
	
	
	
	
