
body {
	background-color: #0A6778;
	font-family: SquareFont;
	
}

header{
	background-color: black;
	margin: 8px auto 8px auto;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10%;
	padding-right: 5%;
	height: 50px;
	width: auto;
	font-size: 1.2rem;
}

.menubar{
	float: right;
}
.menubar ul{
	list-style-type: none;
	float: right;
}

.menubar ul a{
	color: white;
	text-decoration: none;
}
.menubar li a{
	margin-right: 40px;
}

#logo{
	display: block;
}
#logo h1{
	display: inline-block;
	margin: auto;
	width: 25%;
}
#logo #black{
	color:black;
}
#logo #white{
	color:white;
}

#gmaps{
	width: 50%;
	height: 500px;
	border: 3px solid black;
}
#tourDates{
	width: 36%;
	height: 500px;
	overflow: scroll;
	overflow-x:hidden;
	border: 3px solid black;
	margin-top: -506px;
	margin-right: 5%;
	float: right;
}
#DatesList{
	-webkit-padding-start: 10px;
}
.MapMarker{
	background-color: #fa6d61;
    border-radius: 36px;
    padding: 5px 8px;
    margin-left: 45%;
	color: black;
	margin-bottom: 5px;
}
.tourInfo{
    background-color: #6a6a6a63;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -10px;
    padding-left: 10px;
}
.tourInfo:nth-child(odd){
	background-color: #ffffff00;
}
#tourDatesList hr{
	margin-left: -13px;
    width: 103%;
    margin-top: -16px;
    border: 4px dashed #ff8da4;
}
	
	



