html{
	font-size: 62.5%;
}
body{
	background-color: black;
	font-family: SquareFont;
}

section #FrontPage{
	height: 100%;
	width: 100%;
}
section #AboutUs{
	height: 1000px;
	width: 100%;
}

.menubar{
	float: right;
}
.MainMenu{
	text-align: center;
	width: 100%;
	
}
.title{
	color: white;
	text-align: center;
	font-size: 600%;
}

#FrontPage{
	background-color: black;
}
#AboutUs{
	display: block;
	background-color: #0A6778;
	color: black;
}
.pointerlink{
	cursor: pointer;
}

footer{
	background: none repeat scroll 0 0 #0A6778;
	border-top: 10px solid black;
	margin: 0 0 5px;
	padding: 2px 0 5px 2px;
}
footer #contact{
	color: black;
	font-size: 12px;
	line-height:15px;
	overflow: hidden;
	width: 100%;
}
footer a{
	color: black;
	text-decoration: underline;
}
footer p{
	display: inline-block;
	padding-right: 30px;
}

#MenuBackground{
	display: block;
	margin: auto;
	width: auto;
}

#PageMenu{
	color: white;
	width: 100%;
}

header{
	background-color: black;
	margin: 8px auto 8px auto;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10%;
	padding-right: 5%;
	height: 50px;
	width: auto;
	font-size: 1.6rem;
}

nav{
	font-size: 1.6rem;
	text-align: inline;

}


#verticalText{
	font-size: 300%;
	color: white;/*
	font-size: 500%;
	color: white;
	transform: rotate(90deg);
	transform-origin: top left 0;
	float: right;*/
}
#bandInfo{
	font-size: 175%;
}

.inline-photos{
	display: flex;
	justify-content: space-between;
}
.inline-photos img{
	
	width: 300px;
	height: 300px;
	display: inline-block;
	
}
.menubar ul{
	list-style-type: none;
	float: right;
}

.menubar ul a{
	color: white;
	text-decoration: none;
}

.menubar li a{
	margin-right: 40px;
}


.MainMenu ul{
	list-style-type: none;
	
}
.MainMenu ul a{
	color: white;
	text-decoration: none;
}
.MainMenu li a{
	padding-right: 20px;
	padding-left:20px;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: blue;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a,.dropdown-content p{
	color: black;
	text-decoration: none;
	display:block;
}
.show{
display:block;}
